
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Anubhav Madhav</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  </head>
  <body>
  
    <script src="{% static 'three.js' %}"></script>
    <script src="{% static 'STLLoader.js' %}"></script>
    <script src="{% static 'Detector.js' %}"></script>
    <script src="{% static 'OrbitControls.js' %}"></script>
    <script src="{% static 'handLoader.js' %}"></script>
    {% comment %} <script src="js/STLLoader.js"></script>
    <script src="js/Detector.js"></script>
    <script src="js/OrbitControls.js"></script>
    <script src="js/handLoader.js"></script> {% endcomment %}
  </body>
</html>
